@font-face {
  font-family: "Sora";
  src: url("./fonts/Sora.ttf") format("truetype");
}
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Sora";
}
.my-text-stroke {
  text-shadow: 2px 2px 0 black, -2px 2px 0 black, 2px -2px 0 black,
    -2px -2px 0 black;
  color: #fff;
}
